{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Welcome to Ananya's Home Page!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/mypic2.png') }}" alt="Python Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Facts About Me!!!</h5>
                    <p class="card-text">
                        <ol>
                            <li>I am at Sophomore at Del Norte</li>
                            <li>My birthday is on January 26th</li>
                            <li>I speak English, Hindi, and Spanish</li>
                            <li>My family is from Patna, India, and I was there too</li>
                            <li>I want to be an Engineer and get an MBA degree when I grow up</li>

                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/mypic5.png') }}" alt="Flask Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title"> My hobbies and favorites</h5>
                    <p class="card-text">
                        <ol>
                            <li>I play the piano and have been playing for 4 years.</li>
                            <li>Since I was 5, I did many forms of dance, hip hop, ballet, tap, and Bollywood, but now I have settled for Indian Classical Dance, Odyssey!</li>
                            <li>My favorite food is Italian and Thai food</li>
                            <li>I LOVE BOBA TEA!!!!</li>
                            <li>I also play chess and program at home! </li>

                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/paris.png') }}" alt="Backend and Persistence" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Places I want to visit</h5>
                    <p class="card-text">
                        <ol>
                            <li>Paris</li>
                            <li>Hawaii</li>
                            <li>New York</li>
                            <li>Shanghai</li>
                            <li>Canada</li>
                            <li>Mexico</li>
                            <li>Cabo</li>                           
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

